* {
    padding: 2px;
    margin-left: 10px;
}

.success {
    color: green;
}

.project {
    background-color: linen;
    margin: 1%;
    width: 40%;
}

.project:hover {
    background-color: yellow;
  }